<!-- <br> -->
<div class="row p-3">
    <div class="col">
        <div class="col-md">
            <div class="card mb-3 status-card" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title text-white text-center">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card mb-3 status-card" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title text-white text-center">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card mb-3 status-card" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title text-white text-center">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">{{delivered}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>